:root {
    --blue: #2fb9f7;
    --index-modal: 4;
    --weight-bold: 700;
    --hover-color-blue: #18aeed;
}

.app {
    background: #f4f8fb;
}
.app main {
    margin-top: 80px;
}

.nav-app a {
    color: #777;
    font-weight: 600;
    margin: 0;
}
.nav-app a > img {
    max-width: 100px;
}

.nav-app ul {
    width: 90%;
}
.nav-app li {
    margin-bottom: 10px;
    border-radius: 10px;
    transition: background 0.2s ease;
}
.nav-app li:hover {
    background: #33bbf7
}
.navbar-nav .nav-link {
    padding-left: 10px;
    padding-right: 10px;
}
.navbar-nav button {
    background: transparent;
    border: none;
    color: #777;
    font-weight: 600;
    width: 100%;
    text-align: left;
}
.navbar-nav button:focus, .navbar-nav button:hover {
    color: #fff;
}
.nav-link:focus, .nav-link:hover {
    color: #fff;
}
.box-app {
    background: #fff;
    border-radius: 20px;
    box-shadow: 0px 0px 7px 5px #e8e8e8;
}
.home {
    padding: 40px;
    text-align: center;
    min-height: 400px;
}
.home h1 {
    color: #2fb9f7;
}
.home img {
    max-width: 80%;
    margin: 50px 0;
}
.section-alunos {
    min-height: 70vh;
    padding: 2vh;
}
.btn-info {
    color: #fff;
}
.btn-info:hover {
    color: #25cff2;
    background: #fff;
}
.align-buttons {
    text-align: right;
}
.cadpessoa {
    padding: 3vh;
}
.table tr {
    vertical-align: middle;
}
.edit {
 color: #0dcaf0;
}
.delete {
 color: red;
}

.message {
    border: 1px solid;
    border-radius: 5px;
    height: 3rem;
    width: 100%;
    display: flex;
    align-content: center;
    justify-content: center;
    font-weight: 600;
}
.message p {
    margin: auto;
}
.info {
    border-color: #19afee;
    color: #19afee;
    box-shadow: 0px 0px 5px 1px #19afee;
}
.success {
    border-color: #2bb673;
    color: #2bb673;
    box-shadow: 0px 0px 5px 1px #2bb673;
}
.warning {
    border-color: #f7c600;
    color: #f7c600;
    box-shadow: 0px 0px 5px 1px #f7c600;
}
.error {
    border-color: #f73131;
    color: #f73131;
    box-shadow: 0px 0px 5px 1px #f73131;
}

.logo-small {
    max-width: 40px;
}

@media (max-width: 768px) {
    .app main {
        margin: 0;
    }
}

@media (min-width: 768px) {
.d-sm-block {
    display: revert!important;
}
}

/* sidebar */
.sidebar {
    margin-bottom: 30px;
}

.sidebar-title {
    color: rgb(47 185 247)!important;
}

.sidebar-title a {
    color: rgb(47 185 247)!important;
    text-decoration: none;
}

.sidebar a {
    color: #777;
}

.sidebar .modal {
    width: 300px;
}
.sidebar .modal-content {
    width: 300px;
}